# Python
pipeline/venv/
pipeline/__pycache__/
pipeline/**/__pycache__/
pipeline/*.pyc
pipeline/.env

# dbt
pipeline/dbt/target/
pipeline/dbt/dbt_packages/
pipeline/dbt/logs/
pipeline/logs/

# Next.js
dashboard/.next/
dashboard/node_modules/
dashboard/.env.local
dashboard/.env

# General
.DS_Store
*.log